<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <meta charset="UTF-8">
        <title>Payment</title>

        {% block stylesheets %}    
            <link href = "{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
            <link href="{{ asset('css/style2.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

<body >

    <div class="container">
        <h2 >Proceed to payment</h2>

        <br>

        <div class="card">


            <form action ="{{path('user_info')}}" method="POST" class="payment-form">
                <div class="input">
                    <label class="input-label" for="exampleInputEmail1"><strong>Name</strong></label>
                    <input type="text" name="name" class="input-field" id="exampleInputEmail1" aria-describedby="nameHelper" placeholder="Enter your name">
                </div>
                <div class="input">
                    <label class="input-label" for="exampleInputEmail1"><strong>Email address</strong></label>
                    <input type="email" name="email" class="input-field" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="input">
                    <label class="input-label" for="exampleInputEmail1"><strong>Phone number</strong></label>
                    <input type="text" name="phone_number" class="input-field" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
                </div>
                <div class="action">
                    <input type = "hidden" id="paymentId" name ="amount" value="{{amount}}" >
                    <button type="submit" class="btn btn-primary">validate</button>
                </div>
            </form>
        </div>

    </div>

    
</body>
</html>